html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* цвет основного текста #000000 */
/* вторичный цвет текста rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF; */
/* акцент #18A0FB; */

/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --primary-color: #ffffff;
  --background-color: #2f303a;
  --contacts-colors: #757575;
}

body {
  margin: 0;
  /* background-color: var(--primary-bg-color); */
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* ✅ Применится только к ссылкам, которые лежат внутри тега с классом social-links */

.social-links a {
  color: #ffffff;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  color: #2196f3;
  font-family: Raleway, sans-serif;
  width: 700;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio-dark {
  color: var(--title-text-color);
}

.studio-white {
  color: var(--primary-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link-contacts {
  color: var(--contacts-colors);
  text-decoration: none;
}

/* Hero */

.container {
  position: absolute;
  width: 1600px;
  height: 600px;
  /* margin left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* left: 0px;
  top: 80px; */
  /* background: #2F303A; */
}

.background-image {
  color: var(--background-color);
}

.hero-title {
  color: var(--primary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Features and Examples*/

.feature-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Examples */

/* .work-list .title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

.img {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.feature-list.text {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.feature-list.text-category {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.feature-list.text-items {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* team */

.feature-list.team-items {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-team {
  background: #f5f4fa;
}

/* Portfolio */

.feature-list.text-category-p {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.feature-list.text-items-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.feature-list .link {
  color: var(--accent-color);
}

/* Batton */

.button {
  /* display: inline-block; */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  border-radius: 4px;
  color: #ffffff;
}

.btn-hero {
  background: #f5f4fa;
  border-radius: 4px;
}

.filters-list-btn {
  /* position: absolute; */
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  /* text-decoration: none; */
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  /* background-color: #2196f3; */
  cursor: pointer;
}

/* Footer */

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.copyright-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #2f303a;
}
